.scene {
  width: 100vw;
  height: 100vh;
}

.canvasContainer {
  width: 100vw;
  height: 100vh;
  background: gray;
}

.content {
  width: var(--computer-w);
  height: var(--computer-h);
  background: black;
  overflow-x: auto;
  padding: 0;
  visibility: visible;
}

.wrapper {
  overflow-x: hidden;
  width: var(--computer-w);
  height: var(--computer-h);
  transform-origin: top left;
}
