.scene {
    width: 100vw;
    height: 100vh;
    background: black;
    color: #0F0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.fixedHeading {
    margin: 20px;
}

.dynamicFooter {
    flex-grow: 1;
    overflow-y: auto;
    width: 60vw;
    margin: 1vh 3vw 3vw 8vh;
}

.asciiArt {
    margin: 0;
    overflow: hidden;
    margin-left: 40px;
}

.asciiArt > p {
    margin: 0;
}

.flexTitle {
    display: flex;
    flex-direction: row;
}

.revealer {
    position: absolute;
    width: 98vw;
    height: 315px;
    background: black;
    top: 20px;
    overflow-x: hidden;
}

.subtext {
    margin: 15px;
    text-align: center;
    font-size: 30px;
    height: 30px;
}

.commandContainer {
    padding: 0 5px 5px 5px;
}

.history {
    padding-bottom: 3vh;
    overflow-wrap: anywhere;
    font-size: x-large;
}

.inputContainer {
    display: flex;
    flex-flow: row;
}

.inputPrefix {
    min-width: 200px;
}

.inputBox {
    color: #0F0;
    flex-grow: 1;
    width: 100%;
    font-size: x-large;
}