.scene {
    width: 100vw;
    height: 100vh;
    background: black;
    color: #0F0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.sisyphus {
    height: 35vh;
}

.fixedHeading {
    margin: 20px;
}

.dynamicFooter {
    flex-grow: 1;
    width: 80vw;
    margin: 1vh 3vw 3vw 8vh;
    overflow-y: scroll;
}

.asciiArt {
    margin: 0;
    overflow: hidden;
    margin-left: 40px;
}

.asciiArt > p {
    font-size: 1.5vh;
    margin: 0;
}

.flexTitle {
    display: flex;
    flex-direction: row;
}

.revealer {
    position: absolute;
    width: 98vw;
    height: 38vh;
    background: black;
    top: 20px;
    overflow-x: hidden;
}

.subtext {
    margin: 15px;
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    height: 30px;
    color: #fff;
}

.commandContainer {
    padding: 0 5px 5px 5px;
    font-family: 'Noto';
}

.historyContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.history {
    overflow-wrap: anywhere;
    font-size: 2.3vh;
    flex-grow: 1;
    margin-left: 120px;
}

.historyButtonContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 35vh;
    justify-content: space-evenly;
}

.commandButton {
    flex-grow: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #000;
    border: solid;
    border-color: #0f0;
    border-radius: 5px;
    margin: 5px;
}

.commandButton:hover {
    border-color: #fff;
}

.commandButton:active {
    background-color: #333;
}

.inputContainer {
    display: flex;
    flex-flow: row;
    visibility: hidden;
    padding-top: 2px;
}

/* 
min width must change with prefix
defined in CommandLine.ks
*/
.inputPrefix {
    min-width: 23vh;
}

.inputBox {
    color: #0F0;
    flex-grow: 1;
    width: 100%;
    font-size: 2.3vh;
}

.inputBox:focus::placeholder {
    color: transparent;
}

/*
specifically used for animation tabbed text
*/
.tab {
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-family: 'Noto';
}

/*
general use to format <pre> tags in response text
*/
.indent {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}

.list {
    margin: 0;
}

.prefix {
    color: #fff;
}

